* {
	font-family: 'Noto Sans HK';
	color: rgba(30, 30, 30, 0.5);
}

html, body {
	overflow-x: hidden;
}

.white-anchor a:hover, .white-anchor a:active, .white-anchor a:visited {
	color: white;
	outline: none;
}

.my-8p {
    margin-top: 8%;
	margin-bottom: 8%;
}

.px-15p {
    padding-left: 15%;
	padding-right: 15%;
}