.footer {
	padding: 5%;
	background-color: #acd9ff;
	color: white;
}

.footer button {
	color: white;
	border-color: white;
	border-width: 2px;
}

.footer h2 {
	font-size: 2em;
}

.footer h3 {
	font-size: 1em;
}

.footer-copyright {
	background-color: #2799fa;
}

.footer-copyright a {
	color: white;
	font-size: 0.8em;
}

.footer-contact header h2 {
	color: white;
}

.footer-contact header h3 {
	padding-top: 3%;
	padding-bottom: 3%;
	color: white;
}

.footer-contact-button path {
	color: white;
}