/* Image Header */
.image-header {
	width: 100vw;
	height: 60vh;
	background: url("../images/composable-page-20-21-1-1600x700.jpg");
	background-size: cover;
	text-align: center;
}

.image-header h1 {
	font-size: 4em;
	font-weight: 900;
	padding-top: 17vh;
	color: white;
}

.image-header h2 {
	font-size: 2em;
	padding-top: 4vh;
	color: white;
	font-style: italic;
}

/* Products */
.product img {
	cursor: pointer;
	object-fit: cover;
}

.product-header h2 {
	font-size: 4em;
}

.product-header h3 {
	font-size: 2em;
}

.product-col {
	padding: 1em;
}