html, body {
    margin: 0;
    background-color: white;
    color: black;
    font-family: 'Noto Sans HK';
}

hr {
    color: rgb(200, 200, 200);
}

.center-grid {
    padding: 5% 20% 5% 20%;
}

section.center-grid:nth-of-type(even) {
    background-color: rgb(220, 220, 220);
}

blockquote {
    background-color: silver;
    border-radius: 10px;
    padding: 1em;
}

audio {
    width: 100%;
}

.preview-bg {
    width: 100vw;
    height: 100vh;
    background: 100% 100% url("https://cdn.hipwallpaper.com/i/63/65/jxIbnt.jpg");
}

.preview-bg-text {
    margin: 0;
    color: white;
    font-size: 5em;
    text-align: center;
    padding-top: 40vh;
    padding-bottom: 45vh;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: bold;
}

.summary {
    border: 2px dashed rgb(200, 200, 200);
}

.demography-table {
    width: 100%;
}

th, td {
    border: 1px dotted rgb(180, 180, 180);
}

tr:nth-child(even) {
    background-color: rgb(200, 200, 200);
}