* {
	font-family: 'Noto Sans HK';
	color: rgba(30, 30, 30, 0.5);
}

html, body {
	overflow-x: hidden;
}

.page-spacing {
	padding-left: 15%;
	padding-right: 15%;
}

/* Image Header */
.image-header {
	width: 100vw;
	height: 60vh;
	background: url("../images/composable-page-20-21-1-1600x700.jpg");
	background-repeat: cover !important;
	text-align: center;
}

.image-header h1 {
	font-size: 4em;
	font-weight: 900;
	padding-top: 15vh;
	color: white;
}

.image-header h2 {
	font-size: 2em;
	padding-top: 4vh;
	color: white;
	font-style: italic;
}

/* Introduction */
.intro-col {
	margin-top: 8%;
	margin-bottom: 8%;
}

/* Products */
.product {
	margin-top: 8%;
	margin-bottom: 8%;
}

.product img {
	cursor: pointer;
}

.product-header h2 {
	font-size: 4em;
}

.product-header h3 {
	font-size: 2em;
}

.product-col {
	padding: 1em;
}