.navbar {
	background-color: #2799fa;
}

.navbar a {
	color: gainsboro !important;
	font-size: 0.9em;
}

.navbar li {
	margin-left: 3em;
	margin-right: 3em;
}

.navbar-brand {
	text-align: center;
	font-weight: 900;
	width: 50%;
}